# Environment variables
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
# Environment
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Ignore datasets
data/raw/

# Ignore profiling output
data/profiling/